<footer class="bg-dark text-white">
        <div class="container py-4">
          <div class="row py-5">
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Customer services</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">Help &amp; Contact Us</a></li>
                <li><a class="footer-link" href="#">Returns &amp; Refunds</a></li>
                <li><a class="footer-link" href="#">Online Stores</a></li>
                <li><a class="footer-link" href="#">Terms &amp; Conditions</a></li>
              </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Company</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="https://www.skill.jobs/">What We Do</a></li>
                <li><a class="footer-link" href="https://www.skill.jobs/">Available Services</a></li>
                <li><a class="footer-link" href="https://blog.skill.jobs/">Latest Posts</a></li>
                <li><a class="footer-link" href="#">FAQs</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h6 class="text-uppercase mb-3">Social media</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="https://www.facebook.com/skilljobs.bd">Facebook</a></li>
                <li><a class="footer-link" href="https://twitter.com/skill_jobs">Twiter</a></li>
                <li><a class="footer-link" href="https://www.youtube.com/c/JobsbdCreate-Opportunities">Youtube</a></li>
                <li><a class="footer-link" href="https://www.linkedin.com/company/skilljobsbd/">Linkedin</a></li>
              </ul>
            </div>
          </div>
          <div class="border-top pt-4" style="border-color: #a1af1c !important">
            <div class="row">
              <div class="col-lg-6">
                <p class="small text-muted mb-0">&copy; 2022 skilljos reserved.</p>
              </div>
              <div class="col-lg-6 text-lg-right">
                <p class="small text-muted mb-0">Website by <a class="text-white reset-anchor" href="https://www.skill.jobs" target="_blank">Skilljobs It</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>